/* hoja de estilos */
body { margin: 0;
    background-image: url('../img/fondo.png');}

.box{background-color: rgb(141, 184, 199);
     max-width: 1200px;
      margin: 7%; }

.cont, .cont2, .cont3
 {
    display: flex;
    align-items: center;
}
.cont img, .cont2 img, .cont3 img {
    padding: 2%;
    width: 60%;
    margin-left: 2%;
}
.cont aside, .cont2 aside {
    width: 50%;
}

h1 {
    margin-bottom: 4%;
    color: rgb(16, 17, 77);
    background-color: rgb(173, 181, 255);
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
padding: 4rem;}

    ul{ font-style: oblique;
        list-style: none;
        display: flex; 
        justify-content: center;
         font-size: 1.5rem; 
         background-color: rgb(173, 181, 255);
          gap: 8rem; 
        padding: 1rem;
    margin-left: 8%;
margin-right: 8%;}
          li a {color: antiquewhite; :visited {color: midnightblue;}}
          
         
               
    
    h2 {color: rgb(16, 17, 77);
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
    margin: 2%;}

    .h2p2 {color:cadetblue; 
        background-color: beige;
         font-size: 1.5rem;
    text-align: center;
padding: 1rem;
margin: 4%;
}
.h3p2 {font-size: large;}

    h3, h4 {color:cadetblue; 
        background-color: beige;
         font-size: 1.5rem;
    text-align: center;
padding: 1rem;
margin: 4%;
}

        p {color: whitesmoke;
            text-align: left;
        font-size: 1.4rem;
    padding: 1rem;
margin: 4%;}
        footer {text-align: center;
            font-size: 1rem;
            background-color: rgb(173, 181, 255);
            padding: 1rem;}















